#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("city.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-position: center;
}
.card {
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}
.heading {
  display: flex;
  align-items: center;
  height: 850px;
}
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
